@charset "utf-8";
/************************************************************************************************************************************
	全ページ共通パーツ的レイアウトのクラスによる適用
************************************************************************************************************************************/
.inner_box {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.is_index .inner_box {
	max-width: 1120px;
}
.is_lower .inner_box {
	max-width: 1120px;
}
.is_lower #main_content .inner_box {
	max-width: 1120px;
}

.section {
	margin-bottom: 80px;
}
.section:last-child {
	margin-bottom: 110px;
}

.inner_section {
	margin-bottom: 45px;
}
.inner_section .inner_section:not(:last-child) {
	margin-bottom: 25px;
}
.inner_section.mg2 {
	margin-bottom: 50px;
}
.inner_section:last-child, 
.inner_section.mg2:last-child {
	margin-bottom: 0px;
}


.lower_box {
	position: relative;
	padding: 32px 29px;
	border: solid 1px #e5e7eb;
	box-shadow:10px 10px 0px 0px #00183d;
}

.nest {
	padding-left: 20px;
	padding-right: 20px;
}



@media print, screen and (min-width: 768px) {
	#news .lower_box {
		padding: 25px 19px;
	}
}
@media print, screen and (min-width: 768px) and (max-width: 1140px) {
}
@media screen and (max-width: 767px) {
	.section:last-child {
		margin-bottom: 75px;
	}

	.inner_section {
		margin-bottom: 50px;
	}

	.inner_box {
		width: 100%;
		width: calc(100% - 30px);
		max-width: none;
		max-width: auto;
		max-width: inherit;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.nest {
		padding-left: 10px;
		padding-right: 10px;
	}

	.lower_box {
		padding: 32px 15px;
	}
}




/** lower_mv *****************************************************************/
#lower_mv {
	overflow: hidden;
	margin-bottom: 0px;
	background-color: #898989;
	background-image: url('../img/lower_mv_bg_pattern.png');
	background-size: 12px 12px;
	background-position: center center;
	background-repeat: repeat;
}
#lower_mv .mv_wrapper {
	position: relative;
	padding: 108px 0 32px;
	background-image: url('../img/lower_mv_bg.png');
	background-size: 810px 806px;
	background-position: right 28px top;
	background-repeat: no-repeat;
}

#lower_mv .mv_wrapper .inner_box {
	position: relative;
}


#lower_mv .ttl {
	position: relative;
	line-height: 1;
}
#lower_mv .ttl span {
	position: relative;
	display: block;
	line-height: 1;
}
#lower_mv .ttl .ja {
	color: #FFF;
	font-size: 37px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
}
#lower_mv .ttl .en {
	position: relative;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 0 21px;
}
#lower_mv .ttl .en::before, 
#lower_mv .ttl .en::after {
	content: " ";
	position: absolute;
	display: block;
	left: 0;
	top:0; bottom:0;
	margin: auto;
	opacity: 0.4;
}
#lower_mv .ttl .en::before {
	width: 100%;
	height: 12px;
	background-image: url('../img/icon_hexa_white_11-12.png');
	background-size: 11px 12px;
	background-position: left center;
	background-repeat: no-repeat;
}
#lower_mv .ttl .en::after {
	left: 9px;
	width: 300px;
	height: 1px;
	background-color: #ffffff;
}


@media print, screen and (min-width: 768px) {
}
@media print, screen and (min-width: 1380px) {
}
@media print, screen and (min-width: 768px) and (max-width: 1380px) {
}
@media screen and (max-width: 767px) {
	#lower_mv .mv_wrapper {
		padding: 80px 0 30px;

		background-image: url('../img/lower_mv_bg.png');
		background-size: 202.5px auto;
		background-position: right 10px top;
		background-repeat: no-repeat;
	}
	#lower_mv .ttl {
	}
	#lower_mv .ttl .ja {
		font-size: 30px;
	}
	#lower_mv .ttl .en {
		font-size: 16px;
	}
}
@media screen and (max-width: 330px) {
}








/** #main_content *****************************************************************/
.is_lower #main_content {
	overflow: hidden;
}


@media print, screen and (min-width: 768px) {
}
@media print, screen and (min-width: 1380px) {
}
@media print, screen and (min-width: 768px) and (max-width: 1380px) {
}
@media screen and (max-width: 767px) {
}








/** #breadcrumb *****************************************************************/
#breadcrumb {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 10px 0px 0px;
	margin: 0px 0 70px;
	background-color: #00183d;
}
#breadcrumb ul {
	position: relative;
	letter-spacing: -0.4em;
	line-height: 1;
}
#breadcrumb ul::after {
	content: ' ';
	display: block;
	clear: both;
	z-index: ;
	width: 1px;
	height: 1px;
}
#breadcrumb ul li {
	display: inline-block;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: normal;
	vertical-align: middle;
	padding: 0;
	margin-bottom: 10px;
}

#breadcrumb ul li::after {
	content: "／";
	display: inline-block;
	color: #FFF;
	font-size: 16px;
	vertical-align: middle;
	margin: 0 9px 0 12px;
	padding-bottom: 2px;
}
#breadcrumb ul li:last-child::after {
	display: none;
}

#breadcrumb ul li a {
	display: inline-block;
	color: #00183d;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
	height: 25px;
	padding: 0px 7px 0;
	background-color: #FFF;
}


@media print, screen and (min-width: 768px) {
	#breadcrumb {
		z-index: 100;
	}
}

@media screen and (max-width: 767px) {
	#breadcrumb {
		margin-bottom: 60px;
	}
}








/** .common_ttl1 *****************************************************************/
.common_ttl1 {
	position: relative;
	line-height: 1.2;
	text-align: left;
	padding: 16px 0 16px 80px;
	margin-bottom: 23px;
}
.common_ttl1::before {
	content: " ";
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 65px;
	height: 56px;
	background-image: url('../img/common_ttl_icon.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.common_ttl1 .wrap {
	position: relative;
	z-index: 10;
	color: #00183d;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}


@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl1 {
		margin-bottom: 20px;
	}

	.common_ttl1 .wrap {
		font-size: 24px;
	}
}
@media screen and (max-width: 330px) {
	.common_ttl1 .wrap {
	}
}




.common_ttl2 {
	position: relative;
	color: #00183d;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	padding: 0 13px 16px;
	margin-bottom: 21px;
}
.common_ttl2::before {
	content: " ";
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #37c2fd;
}
.common_ttl2::after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 9px;
	background-image: url('../img/icon_hexa_blue_8-9.png') , url('../img/icon_hexa_blue_8-9.png');
	background-size: 8px 9px , 8px 9px;
	background-position: left center , right center;
	background-repeat: no-repeat , no-repeat;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl2 {
		font-size: 18px;
	}
}




.common_ttl3 {
	position: relative;
	color: #00183d;
	font-size: 20px;
	font-weight: 700;
	padding: 7px 0 7px 46px;
	margin-bottom: 14px;
}
.common_ttl3::before {
	content: " ";
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 3px;
	width: 34px;
	height: 38px;
	background-image: url('../img/icon_hexa_blue_34-38.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl3 {
		font-size: 16px;
		padding: 1px 0 1px 23px;
	}
	.common_ttl3::before {
		top: 3px;
		width: 17px;
		height: 19px;
	}
}




.common_ttl4 {
	position: relative;
	color: #00183d;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 19px;
	margin-bottom: 30px;
}
.common_ttl4::before {
	content: " ";
	display: block;
	position: absolute;
	z-index: 1;
	left:0; right:0;
	bottom: 0;
	width: 80px;
	height: 2px;
	margin: auto;
	background-color: #00183d;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl4 {
		font-size: 16px;
	}
}




.common_ttl5 {
	color: #00183d;
	font-size: 20px;
	font-weight: 700;
	padding: 0 5px 13px;
	margin-bottom: 19px;
	border-bottom: solid 1px #e5e5e5;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl5 {
		font-size: 16px;
	}
}




.common_ttl6 {
	position: relative;
	color: #00183d;
	font-size: 18px;
	font-weight: 700;
	padding: 1px 0 0px 28px;
}
.common_ttl6::before {
	content: " ";
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 5px;
	width: 18px;
	height: 19px;
	background-image: url('../img/icon_hexa_blue_18-19.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_ttl6 {
		font-size: 16px;
		padding: 1px 0 1px 28px;
	}
	.common_ttl6::before {
		top: 3px;
	}
}






/** .is_lower .text *****************************************************************/
.is_lower .text {
	color: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0px;
}
.is_lower .text.mgb {
	margin-bottom: 25px;
}

.is_lower .text.center {
	text-align: center;
}
.is_lower .text.right {
	text-align: right;
}

.is_lower .text:last-child {
	margin-bottom: 0;
}
.is_lower .text.large, 
.is_lower .text .large {
	font-size: 18px;
}
.is_lower .text.larger, 
.is_lower .text .larger {
	font-size: 20px;
}
.is_lower .text.largest, 
.is_lower .text .largest {
	font-size: 28px;
}
.is_lower .text.small, 
.is_lower .text .small {
	font-size: 14px;
}
.is_lower .text.bold, 
.is_lower .text .bold {
	font-weight: 700;
}
.is_lower .text.medium, 
.is_lower .text .medium {
	font-weight: 500;
}
.is_lower .text.italic, 
.is_lower .text .italic {
	font-style: italic;
}


.is_lower .text.narrow, 
.is_lower .text .narrow {
	letter-spacing: -1px;
}



.is_lower .text.indent, 
.is_lower .text .indent {
	display: block;
	margin-top: 2px;
	margin-bottom: 0;
}
.is_lower .text.indent:first-child, 
.is_lower .text .indent:first-child{
	margin-top: 0;
}
/* "全角１" */
.is_lower .text.indent.em1, 
.is_lower .text .indent.em1 {
	text-indent: -1em;
	padding-left: 1em;
}
.is_lower .text.indent.em1.narrow, 
.is_lower .text .indent.em1.narrow {
	text-indent: calc(1px - 1em);
	padding-left: calc(1px + 1em);
}
/* "全角２半角１" */
.is_lower .text.indent.em2, 
.is_lower .text .indent.em2 {
	text-indent: -2.25em;
	padding-left: 2.25em;
}
.is_lower .text.indent.em2.narrow, 
.is_lower .text .indent.em2.narrow {
	text-indent: calc(3px - 2.25em);
	padding-left: calc(3px + 2.25em);
}
/* "全角１半角１" */
.is_lower .text.indent.em3, 
.is_lower .text .indent.em3 {
	text-indent: -1.25em;
	padding-left: 1.25em;
}
.is_lower .text.indent.em3.narrow, 
.is_lower .text .indent.em3.narrow {
	text-indent: calc(2px - 1.25em);
	padding-left: calc(2px + 1.25em);
}
/* "半角4" */
.is_lower .text.indent.em4, 
.is_lower .text .indent.em4 {
	text-indent: -1.5em;
	padding-left: 1.5em;
}
.is_lower .text.indent.em4.narrow, 
.is_lower .text .indent.em4.narrow {
	text-indent: calc(4px - 1.5em);
	padding-left: calc(4px + 1.5em);
}





.is_lower .text.serif, 
.is_lower .text .serif {
	font-family: 'Noto Serif JP', serif;
}




@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.is_lower .text {
		font-size: 14px;
	}
	.is_lower .text.large, 
	.is_lower .text .large {
		font-size: 16px;
	}
	.is_lower .text.larger, 
	.is_lower .text .larger {
		font-size: 16px;
	}
	.is_lower .text.largest, 
	.is_lower .text .largest {
		font-size: 18px;
	}
	.is_lower .text.small, 
	.is_lower .text .small {
		font-size: 12px;
	}

}
@media screen and (max-width: 330px) {
	.is_lower .text.large, 
	.is_lower .text .large {
		font-size: 14px;
	}
	.is_lower .text.larger, 
	.is_lower .text .larger {
		font-size: 16px;
	}
	.is_lower .text.largest, 
	.is_lower .text .largest {
		font-size: 16px;
	}
}





/** unique .common_icon hexa *****************************************************************/
.common_icon.hexa {
	display: inline-block;
	width: 11px;
	height: 12px;
position: relative;
top: -2px;
	margin: 8px 12px;
	vertical-align: middle;
	background-image: url('../img/icon_hexa_blue_11-12.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.common_icon.hexa2 {
	display: inline-block;
	width: 11px;
	height: 12px;
	margin: 8px 12px;
	vertical-align: top;
	background-image: url('../img/icon_hexa_blue_11-12_2.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 320px) {
}




/** .is_lower . *****************************************************************/
.is_lower . {
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 320px) {
}




/** .is_lower .common_border *****************************************************************/
.is_lower .common_underbar {
	width: 100%;
	height: 2px;
	margin: 15px auto 13px;
	background-color: #00183d;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 320px) {
}






/** common background *****************************************************************/
.bg_glay {
	background-color: #f2f3f5;
}
.bg_white {
	background-color: #FFF;
}
.bg_pattern_01 {
	background-image: url('../img/common_pattern_01.png');
	background-size: 8px 4px;
	background-position: center;
	background-repeat: repeat;
}
.bg_img_01 {
	padding: 38px 0 58px;
	background-image: url('../img/business/bg_01.png');
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.bg_img_01 {
		padding: 12px 0 28px;
		background-size: 100% 100%;
	}
}


/** .common_padding *****************************************************************/
.common_padding {
	padding: 29px 27px;
}
.common_padding2 {
	padding: 20px 20px;
}
.common_padding3 {
	padding: 20px 29px;
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_padding {
		padding: 20px 15px;
	}
	.common_padding2 {
		padding: 20px 15px;
	}
	.common_padding3 {
		padding: 20px 15px;
	}
}


/** .common_border *****************************************************************/
.common_border_wrap {
	padding: 6px;
	border: solid 1px #00183d;
}
.common_border {
	border: solid 1px #00183d;
}






/** .common_button *****************************************************************/
.common_button {
	width: 100%;
	letter-spacing: calc(25px - 0.7em);
}
.common_button:not(:last-child) {
	margin-bottom: 17px;
}

.common_button.center {
	text-align: center;
}

.common_button a {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	overflow: hidden;
	position: relative;
	z-index: 100;
	display: inline-block;
	color: #FFF;
	font-size: 24px;
	font-weight: 300;
	font-family: a-otf-ud-shin-go-pr6n, 'a otf ud shin go pr6n', 'UDShinGoPr6N' , '小塚ゴシック Pr6N' , 'Kozuka Gothic Pr6N' , '小塚ゴシック Pr 6N' , 'Kozuka Gothic Pr 6N' , '小塚ゴシック Pr6 N' , 'Kozuka Gothic Pr6 N' , '小塚ゴシック Pr 6 N' , 'Kozuka Gothic Pr 6 N' , '小塚ゴシック Pro L' , 'Kozuka Gothic Pro Light' , 'Lato' , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	line-height: 64px;
	letter-spacing: 1px;
	max-width: 220px;
	width: 100%;
	height: 64px;
	padding: 0 27px 0;
	text-align: center;

	background-image: -moz-linear-gradient( 45deg, rgb(137,96,237) 0%, rgb(112,77,183) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(137,96,237) 0%, rgb(112,77,183) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(137,96,237) 0%, rgb(112,77,183) 100%);
}
.common_button a::before {
	content: " ";
	position: absolute;
	right: 12px;
	top:0; bottom:0;
	display: block;
	width: 15px;
	height: 25px;
	margin: auto;
	background-image: url('../img/icon_arrow_white_15-25.png');
	background-size: 15px 25px;
	background-position: right center;
	background-repeat: no-repeat;
}


@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	.common_button {
		text-align: center;
	}
	.common_button a {
		font-size: 18px;
	}
	.common_button a:not(:last-child) {
		margin-bottom: 20px;
	}

	.common_button.large a::before {
		bottom: -14px;
	}
}
@media screen and (max-width: 320px) {
}






/** .column_2 *****************************************************************/
.column_2 {
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}
.column_2 .item {
	position: relative;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
}
@media print, screen and (min-width: 768px) {
	.column_2 {
	}
	.column_2>.item {
		width: 100%;
		max-width: calc(50% - 3px);
	}
}
@media screen and (max-width: 767px) {
	.column_2>.item {
		width: 100%;
	}
}




/** .column_3 *****************************************************************/
.column_3 {
}
.column_3>.item {
	position: relative;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
}
.column_3 .common_list {
	margin-bottom: 20px;
}


@media print, screen and (min-width: 768px) {
	.column_3 {
		display:-webkit-box;
		display:-webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-box-align: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	.column_3>.item {
		width: 33.333333333333333333333333333333333333%;
	}
	.column_3 .common_list:last-child {
	}
}
@media screen and (max-width: 767px) {
	.column_3>.item {
		width: 100%;
	}
}






/** .img_float_box *****************************************************************/
.img_float_box {
}
.img_float_box::after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	color: transparent;
}

.img_float_box .left  {	margin: 0 auto 10px;	}
.img_float_box .right {	margin: 0 auto 10px;	}

@media print, screen and (min-width: 768px) {
	.img_float_box .left  {	float: left;	}
	.img_float_box .right {	float: right;	}
}
@media screen and (max-width: 767px) {
}






/** .img_float_box *****************************************************************/
.info_list {
	overflow: hidden;
	position: relative;
}
.info_list {
}
.info_list li {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
}
.info_list li:last-child {
	margin-bottom: 0;
}

.info_list li .date {
	color: #00183d;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	font-family: 'Hind' , sans-serif;
}
.info_list li .description {
	display: block;
	color: #00183d;
	font-size: 16px;
	font-family: a-otf-ud-shin-go-pr6n, 'a otf ud shin go pr6n', 'UDShinGoPr6N' , '小塚ゴシック Pr6N' , 'Kozuka Gothic Pr6N' , '小塚ゴシック Pr 6N' , 'Kozuka Gothic Pr 6N' , '小塚ゴシック Pr6 N' , 'Kozuka Gothic Pr6 N' , '小塚ゴシック Pr 6 N' , 'Kozuka Gothic Pr 6 N' , '小塚ゴシック Pro L' , 'Kozuka Gothic Pro Light' , 'Lato' , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	font-weight: 300;
	line-height: 1.8666666666666666666666666666667;
	letter-spacing: -1.2px;
	margin-top: 10px;
}
.info_list li .cate {
	display: inline-block;
	color: #0000fb;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Hind' , sans-serif;
	text-align: center;
	vertical-align: middle;
	text-indent: 0;
	line-height: 18px;
	height: 16px;
	padding: 0 8px;
	margin-left: 25px;
	background-color: #FFF;
	border: solid 1px #0000fb;
position: relative;
top: -2px;
}


@media print, screen and (min-width: 768px) {
	.info_list li .date {
		display: inline-block;
		text-indent: 0px;
	}

	.info_list li .description {
	}

}
@media screen and (max-width: 767px) {
	.info_list li {
		margin-bottom: 25px;
	}
	.info_list li .date {
		font-size: 14px;
	}
	.info_list li .description {
		font-size: 14px;
		display: block;
	}
}






/** .common_table *****************************************************************/
table.common_table {
	position: relative;
	display: block;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	width: 100%;
	margin: 0 auto 0;
	background-color: #FFF;
}
table.common_table tbody {
	display: table;
	width: 100%;
}

table.common_table tbody th, 
table.common_table tbody td {
	line-height: 1.7;
	text-align: left;
	vertical-align: middle;
}

table.common_table tbody th {
	color: #00183d;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	padding: 14px 11px 14px 11px;
	background-color: #fbfbfc;
	border-bottom: solid 2px #00183d;
}

table.common_table tbody td {
	color: #00183d;
	font-size: 16px;
	font-weight: 400;
	padding: 14px 23px 14px 23px;
	background-color: inherit;
	background-color: #FFF;
	border-bottom: solid 2px #f2f3f5;
}


table.common_table tbody td p {
}

table.common_table .small {
	font-size: 12px;
}
table.common_table .large {
	font-size: 18px;
}
table.common_table .bold {
	font-weight: 700;
}


table.common_table tbody td.livw {
	line-height: 1.9;
}


table.common_table tbody td .text {
	line-height: inherit;
}

@media print, screen and (min-width: 768px) {
	table.common_table tbody th {
		width: 191px;
	}

	table.common_table tbody th.vt_t {
		vertical-align: top;
	}

	table.common_table tbody td {
		letter-spacing: -0.2px;
	}

	table.common_table tbody tr:first-child th {
		border-top: solid 2px #00183d;
	}
	table.common_table tbody tr:first-child td {
		border-top: solid 2px #f2f3f5;
	}

	table.common_table tbody td .pc-flex > div:not(:last-child) {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) {
	table.common_table, 
	table.common_table tbody, 
	table.common_table tbody tr, 
	table.common_table tbody th, 
	table.common_table tbody td {
		display: block;
	}
	table.common_table {
	}
	table.common_table tbody th, 
	table.common_table tbody td {
		font-size: 14px;
		padding-right: 10px;
		padding-left: 15px;
	}
	table.common_table tbody th {
		border-top: solid 2px #00183d;
		border-bottom: none;
	}
	table.common_table tbody td {
		padding-top: 10px;
		padding-bottom: 25px;
		border-bottom: none;
	}

	table.common_table tbody tr:last-child td {
		border-bottom: solid 2px #f2f3f5;
	}

	table.common_table .large {
		font-size: 16px;
	}
}








/** Googleマップ埋め込みタグをレスポンシブ対応にする *****************************************************************/
.gmap_wrapper {
	position: relative;
	margin: 0 auto 0;
}
.gmap_wrapper iframe {
	position: absolute;
	left: 0;
	width: 100%;
}
.gmap_wrapper.gmap_01 {
	height: 420px;
}
.gmap_wrapper.gmap_01 iframe {
	height: 420px;
}
.gmap_wrapper.gmap_02 {
	height: 390px;
}
.gmap_wrapper.gmap_02 iframe {
	height: 390px;
}


@media screen and (max-width: 767px) {
	.gmap_wrapper {
		height: 350px !important;
	}
	.gmap_wrapper iframe {
		position: static;
		height: 350px !important;
	}
}
@media screen and (max-width: 330px) {
}
@media screen and (max-width: 800px) and (orientation:landscape) {
	.gmap_wrapper {
		height: 280px !important;
	}
	.gmap_wrapper iframe {
		height: 280px !important;
	}
}





/************************************************************************************************************************************
	ディスプレイ系
************************************************************************************************************************************/
/** flex *****************************************************************/
.flex {
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	/* 以下初期値 **************************************/
	/* 行制御　自動改行 */
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/* 表示方向　昇順 */
	-webkit-flex-direction: row;
	flex-direction: row;
}
/* 行制御　flex-wrap
 **************************************/
/* 改行なし */
.wrap-nowrap {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
/* 自動改行 */
.wrap-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/* 自動改行＋行方向の逆方向へ折り返し */
.wrap-reverse {
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
/* 表示方向　flex-direction
 **************************************/
/* 昇順 */
.direction-row {
	-webkit-flex-direction: row;
	flex-direction: row;
}
/* 降順 */
.direction-row-reverse {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
/* 文字方向準 */
.direction-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}
/* 文字方弱向準 */
.direction-column-reverse {
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
/* 横位置　justify-content
 **************************************/
/* 左寄せ */
.justify-fstart {
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
/* 右寄せ */
.justify-fend {
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
/* 中央寄せ */
.justify-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
/* 両端均等配置 */
.justify-between {
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/* 中央均等配置 */
.justify-around {
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
/* 縦位置　align-items
 **************************************/
/* 上揃え */
.align-fstart {
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
/* 下揃え */
.align-fend {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
/* 中央寄せ */
.align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/* 最初のflexアイテムのbaseline揃え */
.align-baseline {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}
/* コンテナの高さにflexアイテムが揃う */
.align-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}


@media print, screen and (min-width: 768px) {
	.pc-flex {
		display:-webkit-box;
		display:-webkit-flex;
		display: flex;
		/* 以下初期値 **************************************/
		/* 行制御　自動改行 */
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		/* 表示方向　昇順 */
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	/* 行制御　flex-wrap
	 **************************************/
	/* 改行なし */
	.pc-wrap-nowrap {
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	/* 自動改行 */
	.pc-wrap-wrap {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	/* 自動改行＋行方向の逆方向へ折り返し */
	.pc-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	/* 表示方向　flex-direction
	 **************************************/
	/* 昇順 */
	.pc-direction-row {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	/* 降順 */
	.pc-direction-row-reverse {
		-webkit-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	/* 文字方向準 */
	.pc-direction-column {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	/* 文字方弱向準 */
	.pc-direction-column-reverse {
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	/* 横位置　justify-content
	 **************************************/
	/* 左寄せ */
	.pc-justify-fstart {
		-webkit-box-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	/* 右寄せ */
	.pc-justify-fend {
		-webkit-box-pack: flex-end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	/* 中央寄せ */
	.pc-justify-center {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	/* 両端均等配置 */
	.pc-justify-between {
		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	/* 中央均等配置 */
	.pc-justify-around {
		-webkit-box-pack: space-around;
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
	/* 縦位置　align-items
	 **************************************/
	/* 上揃え */
	.pc-align-fstart {
		-webkit-box-align: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	/* 下揃え */
	.pc-align-fend {
		-webkit-box-align: flex-end;
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}
	/* 中央寄せ */
	.pc-align-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	/* 最初のflexアイテムのbaseline揃え */
	.pc-align-baseline {
		-webkit-box-align: baseline;
		-webkit-align-items: baseline;
		align-items: baseline;
	}
	/* コンテナの高さにflexアイテムが揃う */
	.pc-align-stretch {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		align-items: stretch;
	}
}


@media screen and (max-width: 767px) {
	.sp-flex {
		display:-webkit-box;
		display:-webkit-flex;
		display: flex;
		/* 以下初期値 **************************************/
		/* 行制御　自動改行 */
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		/* 表示方向　昇順 */
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	/* 行制御　flex-wrap
	 **************************************/
	/* 改行なし */
	.sp-wrap-nowrap {
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	/* 自動改行 */
	.sp-wrap-wrap {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	/* 自動改行＋行方向の逆方向へ折り返し */
	.sp-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	/* 表示方向　flex-direction
	 **************************************/
	/* 昇順 */
	.sp-direction-row {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	/* 降順 */
	.sp-direction-row-reverse {
		-webkit-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	/* 文字方向準 */
	.sp-direction-column {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	/* 文字方弱向準 */
	.sp-direction-column-reverse {
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	/* 横位置　justify-content
	 **************************************/
	/* 左寄せ */
	.sp-justify-fstart {
		-webkit-box-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	/* 右寄せ */
	.sp-justify-fend {
		-webkit-box-pack: flex-end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	/* 中央寄せ */
	.sp-justify-center {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	/* 両端均等配置 */
	.sp-justify-between {
		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	/* 中央均等配置 */
	.sp-justify-around {
		-webkit-box-pack: space-around;
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
	/* 縦位置　align-items
	 **************************************/
	/* 上揃え */
	.sp-align-fstart {
		-webkit-box-align: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	/* 下揃え */
	.sp-align-fend {
		-webkit-box-align: flex-end;
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}
	/* 中央寄せ */
	.sp-align-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	/* 最初のflexアイテムのbaseline揃え */
	.sp-align-baseline {
		-webkit-box-align: baseline;
		-webkit-align-items: baseline;
		align-items: baseline;
	}
	/* コンテナの高さにflexアイテムが揃う */
	.sp-align-stretch {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		align-items: stretch;
	}
}




/** displayの強制指定 *****************************************************************/
.tb-show {
	display: none !important;
}
br.tb-show {
	display: none !important;
}
span.tb-show {
	display: none !important;
}
.sp-show {
	display: none !important;
}
br.sp-show {
	display: none !important;
}
span.sp-show {
	display: none !important;
}
.sp_min-show {
	display: none !important;
}
br.sp_min-show {
	display: none !important;
}
span.sp_min-show {
	display: none !important;
}

@media print, screen and (max-width: 1024px) {
	.tb-hide {
		display: none !important;
	}
	.tb-show {
		display: block !important;
	}
	br.tb-show {
		display: inline !important;
	}
	span.tb-show {
		display: inline !important;
	}
}

@media screen and (max-width: 767px) {
	.sp-hide,
	br.sp-hide {
		display: none !important;
	}
	.sp-show {
		display: block !important;
	}
	br.sp-show {
		display: inline !important;
	}
	span.sp-show {
		display: inline !important;
	}
}

@media print, screen and (max-width: 360px) {
	.sp_min-hide,
	br.sp_min-hide {
		display: none !important;
	}
	.sp_min-show {
		display: block !important;
	}
	br.sp_min-show {
		display: inline !important;
	}
	span.sp_min-show {
		display: inline !important;
	}
}






/** margin-bottomの強制指定 5px単位/最大60pxまで *****************************************************************/
.mg-b-05 { margin-bottom:  5px !important; }
.mg-b-10 { margin-bottom: 10px !important; }
.mg-b-15 { margin-bottom: 15px !important; }
.mg-b-20 { margin-bottom: 20px !important; }
.mg-b-25 { margin-bottom: 25px !important; }
.mg-b-30 { margin-bottom: 30px !important; }
.mg-b-35 { margin-bottom: 35px !important; }
.mg-b-40 { margin-bottom: 40px !important; }
.mg-b-45 { margin-bottom: 45px !important; }
.mg-b-50 { margin-bottom: 50px !important; }
.mg-b-55 { margin-bottom: 55px !important; }
.mg-b-60 { margin-bottom: 60px !important; }
@media print, screen and (min-width: 768px) {
	.mg-b-05-pc { margin-bottom:  5px !important; }
	.mg-b-10-pc { margin-bottom: 10px !important; }
	.mg-b-15-pc { margin-bottom: 15px !important; }
	.mg-b-20-pc { margin-bottom: 20px !important; }
	.mg-b-25-pc { margin-bottom: 25px !important; }
	.mg-b-30-pc { margin-bottom: 30px !important; }
	.mg-b-35-pc { margin-bottom: 35px !important; }
	.mg-b-40-pc { margin-bottom: 40px !important; }
	.mg-b-45-pc { margin-bottom: 45px !important; }
	.mg-b-50-pc { margin-bottom: 50px !important; }
	.mg-b-55-pc { margin-bottom: 55px !important; }
	.mg-b-60-pc { margin-bottom: 60px !important; }
}
@media screen and (max-width: 767px) {
	.mg-b-05-sp { margin-bottom:  5px !important; }
	.mg-b-10-sp { margin-bottom: 10px !important; }
	.mg-b-15-sp { margin-bottom: 15px !important; }
	.mg-b-20-sp { margin-bottom: 20px !important; }
	.mg-b-25-sp { margin-bottom: 25px !important; }
	.mg-b-30-sp { margin-bottom: 30px !important; }
	.mg-b-35-sp { margin-bottom: 35px !important; }
	.mg-b-40-sp { margin-bottom: 40px !important; }
	.mg-b-45-sp { margin-bottom: 45px !important; }
	.mg-b-50-sp { margin-bottom: 50px !important; }
	.mg-b-55-sp { margin-bottom: 55px !important; }
	.mg-b-60-sp { margin-bottom: 60px !important; }
}
/** padding-bottomの強制指定 5px単位/最大60pxまで *****************************************************************/
.pd-b-05 { padding-bottom:  5px !important; }
.pd-b-10 { padding-bottom: 10px !important; }
.pd-b-15 { padding-bottom: 15px !important; }
.pd-b-20 { padding-bottom: 20px !important; }
.pd-b-25 { padding-bottom: 25px !important; }
.pd-b-30 { padding-bottom: 30px !important; }
.pd-b-35 { padding-bottom: 35px !important; }
.pd-b-40 { padding-bottom: 40px !important; }
.pd-b-45 { padding-bottom: 45px !important; }
.pd-b-50 { padding-bottom: 50px !important; }
.pd-b-55 { padding-bottom: 55px !important; }
.pd-b-60 { padding-bottom: 60px !important; }
@media print, screen and (min-width: 768px) {
	.pd-b-05-pc { padding-bottom:  5px !important; }
	.pd-b-10-pc { padding-bottom: 10px !important; }
	.pd-b-15-pc { padding-bottom: 15px !important; }
	.pd-b-20-pc { padding-bottom: 20px !important; }
	.pd-b-25-pc { padding-bottom: 25px !important; }
	.pd-b-30-pc { padding-bottom: 30px !important; }
	.pd-b-35-pc { padding-bottom: 35px !important; }
	.pd-b-40-pc { padding-bottom: 40px !important; }
	.pd-b-45-pc { padding-bottom: 45px !important; }
	.pd-b-50-pc { padding-bottom: 50px !important; }
	.pd-b-55-pc { padding-bottom: 55px !important; }
	.pd-b-60-pc { padding-bottom: 60px !important; }
}
@media screen and (max-width: 767px) {
	.pd-b-05-sp { padding-bottom:  5px !important; }
	.pd-b-10-sp { padding-bottom: 10px !important; }
	.pd-b-15-sp { padding-bottom: 15px !important; }
	.pd-b-20-sp { padding-bottom: 20px !important; }
	.pd-b-25-sp { padding-bottom: 25px !important; }
	.pd-b-30-sp { padding-bottom: 30px !important; }
	.pd-b-35-sp { padding-bottom: 35px !important; }
	.pd-b-40-sp { padding-bottom: 40px !important; }
	.pd-b-45-sp { padding-bottom: 45px !important; }
	.pd-b-50-sp { padding-bottom: 50px !important; }
	.pd-b-55-sp { padding-bottom: 55px !important; }
	.pd-b-60-sp { padding-bottom: 60px !important; }
}
