@charset "utf-8";
/************************************************************************************************************************************
	IEのみ適用されるスタイルシート
************************************************************************************************************************************/
@media all and (-ms-high-contrast:none) {


/************************************************************************************************************************************
	header	-CommonSetting-
************************************************************************************************************************************/






/************************************************************************************************************************************
	footer	-CommonSetting-
************************************************************************************************************************************/








/************************************************************************************************************************************
	全ページ共通
************************************************************************************************************************************/






/************************************************************************************************************************************
	TOP
************************************************************************************************************************************/
/** # *****************************************************************/
#index #main_content .ttl2 {
	padding: 21px 0 7px;
}
#index #main_content .ttl2.black {
	padding: 35px 0 17px;
}
#index #section_02 .icon_ttl .ttl3.icon {
	line-height: 0px;
	padding-top: 1em;
}
#index #section_05 .ttl_uq {
	padding-bottom: 15px;
}
#index #section_05 .ttl_uq .en {
	margin-bottom: 20px;
}




/************************************************************************************************************************************
	全ページ共通パーツ的レイアウトのクラスによる適用
************************************************************************************************************************************/
.common_button a {
	line-height: 82px;
}




}	/* end IE */






/************************************************************************************************************************************
	PC　IEのみ適用されるスタイルシート
************************************************************************************************************************************/
@media all and (-ms-high-contrast:none) and (min-width: 768px) {
/************************************************************************************************************************************
header	#nav
************************************************************************************************************************************/
#header #nav ul li {
	line-height: 1;
	height: 1;
}
#header #nav ul li a {
	margin-top: -1em;
	padding: 1.05em 0 1px;
}


/************************************************************************************************************************************
	TOP
************************************************************************************************************************************/
/**  *****************************************************************/
#index #section_05 .tel {
	line-height: 1;
	padding: 1.05em 0 1px;
	padding-left: 43px;
}
#index #section_05 .common_button a {
	line-height: 92px;
}




}	/* end IE */








/************************************************************************************************************************************
	Edgeのみ適用されるスタイルシート
************************************************************************************************************************************/
/* for Microsoft Edge */
@supports (-ms-ime-align:auto) {
/************************************************************************************************************************************
	
************************************************************************************************************************************/
/**  *****************************************************************/






/************************************************************************************************************************************
	header	-CommonSetting-
************************************************************************************************************************************/






/************************************************************************************************************************************
	footer	-CommonSetting-
************************************************************************************************************************************/








/************************************************************************************************************************************
	全ページ共通
************************************************************************************************************************************/






/************************************************************************************************************************************
	TOP
************************************************************************************************************************************/
/** # *****************************************************************/




}	/* end Edge */






/************************************************************************************************************************************
	PC　Edgeのみ適用されるスタイルシート
************************************************************************************************************************************/
@supports (-ms-ime-align:auto) and (min-width: 768px) {
/************************************************************************************************************************************
	TOP
************************************************************************************************************************************/
/**  *****************************************************************/




}	/* end Edge */





