@charset "utf-8";
/************************************************************************************************************************************
	#wrapper	-CommonSetting-
************************************************************************************************************************************/
#wrapper {
}
@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	#wrapper {
		z-index: 9501;
	}
}




/************************************************************************************************************************************
	header	-CommonSetting-
************************************************************************************************************************************/
#header {
	z-index: 100000;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#header .header_bg {
	background-color: transparent;
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

#header #header_content {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	width: 100%;
	max-width: 1120px;
	padding: 8px 0 72px;
	margin: 0 auto;
}

#header #header_content .ttl .wrap {
	display: block;
	width: 277px;
	padding: 0 0px 0px 0;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#header #header_content .ttl .wrap img {
	width: 100%;
	opacity: 0;
}


@media print, screen and (min-width: 768px) {
	#header #header_content .ttl .wrap {
		padding-top: 12px;
	}
}
@media screen and (max-width: 767px) {
	#header .header_bg {
		background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	}
	#header #header_content {
		padding: 10px 0 10px 10px;
	}
	#header #header_content .ttl .wrap {
		width: 200px;
		background-image: url('../img/logo-sp.png');
	}
}






/************************************************************************************************************************************
	header	#nav
************************************************************************************************************************************/
#header #nav {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	position: relative;
	z-index: 100000;
	width: 100%;
	margin: 0 auto;
}

#header #nav ul {
	width: 100%;
	margin: 0 auto;
}

#header #nav ul li {
}
#header #nav ul li a {
	font-family: a-otf-ud-shin-go-pr6n, 'a otf ud shin go pr6n', 'UDShinGoPr6N' , '小塚ゴシック Pr6N' , 'Kozuka Gothic Pr6N' , '小塚ゴシック Pr 6N' , 'Kozuka Gothic Pr 6N' , '小塚ゴシック Pr6 N' , 'Kozuka Gothic Pr6 N' , '小塚ゴシック Pr 6 N' , 'Kozuka Gothic Pr 6 N' , '小塚ゴシック Pro L' , 'Kozuka Gothic Pro Light' , 'Lato' , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}


@media print, screen and (min-width: 768px) {
	#header #nav {
		position: absolute;
		top: 0;
		right: 0px !important;
		width: auto;
		margin: 0;
		margin-top: 6px;
		margin-right: 160px;
	}

	#header #nav ul {
		width: auto;
		padding: 0px 0 0 0px;
	}

	#header #nav ul li:not(:first-child) {
		margin-left: 30px;
	}

	#header #nav ul li a {
		position: relative;
		display: inline-block;
		color: #FFF;
		font-size: 16px;
		font-weight: 400;
		background-position: left center;
		background-repeat: no-repeat;
	}

	#header #nav ul li.icon_01 a {
		padding-left: 27px;
		background-image: url('../img/navi_icon_01.png');
		background-size: 19px 13px;
	}
	#header #nav ul li.icon_02 a {
		padding-left: 23px;
		background-image: url('../img/navi_icon_02.png');
		background-size: 15px 17px;
	}
	#header #nav ul li.icon_03 a {
		padding-left: 21px;
		background-image: url('../img/navi_icon_03.png');
		background-size: 12px 17px;
	}
	#header #nav ul li.icon_04 a {
		padding-left: 25px;
		background-image: url('../img/navi_icon_04.png');
		background-size: 17px 15px;
	}
	#header #nav ul li.icon_05 a {
		padding-left: 23px;
		background-image: url('../img/navi_icon_05.png');
		background-size: 15px 17px;
	}

	#header #nav ul li.header_contact {
		margin-left: 40px;
	}
	#header #nav ul li.header_contact a {
		position: relative;
		display: block;
		width: 150px;
	}
	#header #nav ul li.header_contact a:not(:last-child) {
		margin-bottom: 7px;
	}
	#header #nav ul li.header_contact a img {
		width: 100%;
		height: auto;
	}

	#header #nav ul li.sp-only {
		display: none;
	}
}


#header #nav #navi_close,
#header #navi_open {
	display: none;
}
#glay_layer {
	display: none;
	width: 0;
	height: 0;
	position: fixed;
	z-index: 9500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #444;
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,0.7);
	opacity: 0.7;
}


@media screen and (max-width: 767px) {
	#header #navi_open {
		display: block;
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 100010;
		padding: 5px;
		border-radius: 0.5em;
	}
	#header #navi_open img {
		vertical-align: middle;
		width: 28px;
		height: 28px;
	}

	#header #nav {
		display: none;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		z-index: 100010;
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
		padding: 0;
		margin: 0 0 5px;
		background: none;
		background-color: #FFF;
		border: none;
/*		border-left: solid 1px #333;*/
	}

	#header #nav #navi_close {
		position: relative;
		display: block;
		color: #FFF;
		font-size: 125%;	/* 基準=16px -> 20px */
		font-family: 'Slabo 27px', serif , sans-serif;
		text-indent: 0.8em;
		width: 100%;
		padding: 22px 0 16px;
		background-color: #00183d;
	}
	#header #nav #navi_close a {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3px;
		display: block;
		width: 32px;
		height: 32px;
		margin: auto 0;
	}

	#header #nav ul li a.hide {
		display: block;
	}
	#header #nav #navi_close a img {
		float: left;
		vertical-align: middle;
		width: 100%;
		height: auto;
	}
	#header #nav ul {
		display: block;
		width: 100%;
	}
	#header #nav ul li {
		float: none;
		width: 100%;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		background: none;
	}
	#header #nav ul li.sp-only {
		display: block;
	}

	#header #nav ul li.pc-img, 
	#header #nav ul li a .en {
		display: none;
	}

	#header #nav ul li a, 
	#header #nav ul li:first-child a, 
	#header #nav ul li:last-child a, 
	#header #nav ul li.pc-last a {
		display: block;
		color: #333;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		text-decoration: none;
		width: 100%;
		padding: 13px 0 13px 1em;
		margin: 0;
		background-image: none;
		border: none;
		border-bottom: solid 1px #00183d;
	}

	#header #nav ul li a img {
		display: none
	}
	#header #nav ul li a:hover {
		color: #FFF;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.5);
	}

	#header #nav ul li.header_contact {
		display: none;
	}
}






/************************************************************************************************************************************
	footer	-CommonSetting-
************************************************************************************************************************************/
#footer {
	position: relative;
	z-index: 5;
}

#footer .bg_01 {
	background-color: #00183d;
}

#footer .footer_content_inner {
	position: relative;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
	line-height: 0;
	width: 100%;
	max-width: 1120px;
	padding: 40px 0 40px;
	margin: 0 auto;
}


@media print, screen and (min-width: 1601px) {
}
@media print, screen and (min-width: 768px) {
}
@media print, screen and (min-width: 768px) and (max-width: 1308px) {
	#footer .footer_content_inner {
		position: static;
	}
}
@media screen and (max-width: 767px) {
	#footer .footer_content_inner {
		width: calc(100% - 30px);
		padding: 40px 0 40px;
	}
}
@media screen and (max-width: 330px) {
}






/**	footer	.content_01	*****************************************************************/
#footer .content_01 {
}

#footer .content_01 .f_nav {
	margin: 0px auto 0;
}
#footer .content_01 .f_nav>li {
}
#footer .content_01 .f_nav>li a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
}


@media print, screen and (min-width: 768px) {
	#footer .content_01 .f_nav {
		position: relative;
		margin: 0;
		text-align: center;
		letter-spacing: calc(30px - 0.4em);
	}

	#footer .content_01 .f_nav>li {
		display: inline-block;
		letter-spacing: 0px;
	}

}
@media screen and (max-width: 767px) {
	#footer .content_01 .f_nav {
		text-align: left;
		max-width: 280px;
		width: 100%;
		padding-left: 30px;
		margin: 0px auto 0px;
	}
	#footer .content_01 .f_nav>li {
		padding: 0;
		margin: 4px 0px 4px;
	}
	#footer .content_01 .f_nav>li:nth-child(odd) {
		width: 50%;
	}
	#footer .content_01 .f_nav>li:nth-child(even) {
		width: 50%;
	}

	#footer .content_01 .f_nav>li a {
		font-size: 16px;
	}
}
@media screen and (max-width: 330px) {
	#footer .content_01 .f_nav {
		max-width: 280px;
		padding-left: 20px;
	}
	#footer .content_01 .f_nav>li a {
		font-size: 14px;
	}
}






/**	footer	.f_description	*****************************************************************/
#footer .f_description .f_logo {
	width: 277px;
	background-image: url('../img/footer-logo.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#footer .f_description .f_logo img {
	width: 100%;
	height: auto;
	opacity: 0;
}


@media print, screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
	#footer .f_description {
		max-width: 250px;
		margin: 0px auto 0px;
	}

	#footer .f_description .f_logo {
		width: 250px;
		margin: 0 0 40px;
		background-image: url('../img/footer-logo-sp.png');
	}
}






/**	footer	copy	*****************************************************************/
#footer p.copy {
	line-height: 1;
	text-align: center;
	padding: 15px 0 15px;
	background-color: #212121;
}
#footer p.copy small {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	vertical-align: middle;
	letter-spacing: 0.5px;
}


@media print, screen and (min-width: 768px) {
	#footer p.copy {
	}
}
@media screen and (max-width: 767px) {
	#footer p.copy {
		text-align: center;
		padding: 15px 0 15px;
	}
	#footer p.copy small {
		font-size: 12px;
		letter-spacing: 0.5px;
	}
}
@media screen and (max-width: 330px) {
	#footer p.copy small {
		font-size: 11px;
		letter-spacing: 0px;
	}
}








/**	footer	#go_top_btn	*****************************************************************/
#footer #go_top_btn {
	display: block;

	position: absolute;
	top: -60px;
	right: -92px;
	width: 72px;
	height: 82px;
}
#footer #go_top_btn a {
	display: block;
	width: 72px;
	height: 82px;
	margin: 0 auto;
}
#footer #go_top_btn a img {
	width: 100%;
	height: auto;
}

@media print, screen and (min-width: 768px) {
}
@media print, screen and (min-width: 768px) and (max-width: 1308px) {
	#footer #go_top_btn {
		right: 0px;
	}
}
@media screen and (max-width: 767px) {
	#footer #go_top_btn {
		right: 0px;
	}
}






/************************************************************************************************************************************
	#contents	-CommonSetting-
************************************************************************************************************************************/
#contents {
	width: 100%;
}
.is_lower #contents {
}

@media screen and (max-width: 767px) {
}
